.ResponsiveNavigation {
	display: flex;
	width: 100%;
	background: rgb(108, 14, 14);
	background: radial-gradient(
		circle,
		rgba(108, 14, 14, 1) 77%,
		rgba(172, 34, 34, 1) 100%
	);
}

.ResponsiveNavigationContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.fa-cart-shopping {
	margin-right: 5px;
}